 .container{
				background-color: #ff198c;
				width:100%; 
		  	height:100%;
		  	position: absolute; 	
		  	top:0; 	
		  	left:0; 	
		  	z-index:11;
}

.container2{
				background-color: #fff;
				width: 100%;
				height: 60%;
				-webkit-border-top-left-radius: 70px;
      -moz-border-radius-topleft: 70px;
      border-top-left-radius: 70px;
      bottom: 0;
      position: fixed;
}

.inputs{
	    
	    position: absolute;
	    top: 20%;
	    left:20%;
			
}

.inputs #task{
				border: none;
				background: none;
				outline: none;
				border-bottom: 1px solid white;
				color: white;
	
}

::-webkit-input-placeholder { 
      
      color: #ffffff; 
}

.inputs #data{
				border: none;
				background: none;
				outline: none;
				border-bottom: 1px solid white;
			  margin-top: 25px;
			  color: white;
			  width: 200px;
}

#seta{
			
			width: 300px;
			height: 300px;
}

.hora{
				width: 300px;
				height: 150px;
				background-color: #ebebeb;
				border-radius: 30px;
				align-content: center;

}
